.footer{
    font-size: 30px;
    text-align: center;
    margin: 10px;
    position: sticky;
    bottom: 0px;
    background: $mainContainer-optionColor;
    border-radius: 8px;
    @media #{$media-desktop} {
        font-size: 1rem;
        }
    a{
        text-decoration: none;
        color: #8d2e0c;
    }
}