.mainContainer{
// height: 100vh;
min-height: 100vh;
}
.mainContainer__data{
    display: flex;
    justify-content: center;
// height: 100vh;
// width:100vw;
}
.MuiRadio-colorSecondary.Mui-checked{
    color: $mainContainer-optionColor !important;
}
.mainContainer__option{
    display: flex;
    flex-wrap: wrap;
    // width: 100vw;
    justify-content: center;
    align-items: center;
    position: sticky;
    font-family: $roboto-slab;
    top: 0;
    background: $background-color;
    .option{
        display: flex;
    }
}
.mainContainer__option--div{
    flex: 0.5;
    padding: 0px 20px;
    .MuiFormLabel-root{
    font-family: $roboto-slab;

        color:$mainContainer-optionColor !important;
    }
    .MuiSelect-root{
        color: $dropdown-options !important;
    }

}
.MuiFormControl-root > .MuiFormGroup-root{
@media #{$media-desktop} {
        flex-direction: row;
    }
}
.MuiTypography-root{
    color: $dropdown-options !important;
}
.MuiFormControl-root{
    margin-top: 10px;
}
 .mainContainer__table{
    width: 100vw;
    p{
        justify-content: center;
        color:#0d3b66 ;
        padding: 5px;
        font-size: 0.8rem;
    }

}
.mainContainer__help{
    position: sticky;
    bottom: 20px;
    justify-content: flex-end;
    display: flex;
    margin-right: 11px;
}
.HelpDiv{
    display: flex;
    .MuiSvgIcon-root{
        margin-right: 5px;
        
}

}
.HelpDivMain{
    display: flex;
    flex-direction: column;
    @media #{$media-desktop} {
        div:nth-child(3) {
            
                display: none;
        
    }
    }
}