@import url(http://fonts.googleapis.com/css?family=Roboto+Slab|Open+Sans:400italic,700italic,400,700);
$roboto-slab: 'Roboto Slab', serif;   
$open-sans: 'Open Sans', sans-serif;
$background-color:#A6A670;
$infoContainer-Entry:#86836D;
$age45plus:#C4C27A;
$age18plus:#ECFEAA;
$mainContainer-optionColor:#626267;
$main-text-color:#000;
$dropdown-options:#55553a;
$secondary-background-color:#000;
