$media-desktop: "only screen and (max-width : 1024px)";
$media-tablet: "only screen and (max-width : 768px)";
$media-mobile: "only screen and (max-width : 600px)";
$media-mobile-sm: "only screen and (max-width : 480px)";
*{
    margin: 0px;
    padding: 0px;
}
@import 'variable';
@import 'app';
@import 'loader';
@import 'infoBlock';
@import 'mainCointainer';
@import 'infoContainer';
@import 'locationWaiting';
@import 'footer';